{% extends "base.html" %}
{% load static %}
{% block title %}Game{% endblock %}

{% block content %}
<div id="main-content" class="content" data-player-id="{{ player.id }}"></div>
{% endblock content %}

{% block afterbody %}
<link rel="stylesheet" type="text/css" href="{% static 'game_board/stylesheets/index.css' %}">
<script type="text/javascript" src="{% static 'game_board/javascripts/pixi.min.js' %}"></script>
<script type="text/javascript" src='{% static "chat/javascripts/reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src="{% static 'game_board/javascripts/game.js' %}"></script>
{% endblock afterbody %}
