{% extends "base.html" %}
{% load static %}
{% block title %}Game{% endblock %}

{% block content %}
<div id="main-content" class="content">
  <p>
    <a class="button button-primary" href="{% url 'game_board:new_room' %}">Create new game room</a>
  </p>
  <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/game-board/any-path-you-want</code>
    to create a arbitrary room or join one whose name you know.
  </p>
</div>
{% endblock content %}

{% block afterbody %}
<link rel="stylesheet" type="text/css" href="{% static 'game_board/stylesheets/index.css' %}">
{% endblock afterbody %}
